    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="icon" href="image/Logo.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
<footer>
    <div class="footer-content">
        <div class="social-media" data-aos="fade-up" data-aos-duration="1000">
            <a href="#"><img src="image/facebook.png" alt="Facebook" class="logo-social-media" style="border: none;"></a>
            <a href="#"><img src="image/X.png" alt="Twitter" class="logo-social-media" style="border: none;"></a>
            <a href="#"><img src="image/instagram.png" alt="Instagram" class="logo-social-media" style="border: none;"></a>
        </div>
        <div class="about" data-aos="fade-down" data-aos-duration="1000">
            <h3>About XXX Cinemas</h3>
            <p>Discover the essence of cinematic bliss at XXX Cinemas. With cutting-edge facilities and a passion for film, we're committed to delivering unparalleled entertainment. Join us for an unforgettable movie experience that transcends the ordinary</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#page2">Movies</a></li>
                <li><a href="/#page4">Promotions</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-bottom" >
        <p>&copy; 2024 XXX Cinemas. All rights reserved.</p>
    </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
