<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/signup.css">
    <title>Signup</title>
</head>
<body>
<div class="container">
    <div class="signup">
     <form action="/Signup" class="sign-up-form" method="POST">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <input type="submit" value="Sign up" class="btn">
        <p class="social-text">Or Sign in with social platform</p>
        <div class="social-media">
            <a href="#" class="social-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <p class="account-text">Already have an account? <a href="Signin" id="sign-in-btn2">Sign in</a></p>
        </form>
    </div>
</div>
</body>
</html>