<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="/css/successstyle.css">
</head>
<body>
    <div class="success-container">
        <div class="checkmark"></div>
        <h1>Payment Successful!</h1>
        <div class="summary">
            <h2>Summary:</h2>
            <p>balance: $<%= finalTotalPrice %></p>
        </div>
        <a href="/" class="close-button">Close</a>
    </div>
</body>
</html>
