/* public/stylesheets/payment.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-padding {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center align content */
}

h1, h2 {
    align-items: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

p {
    padding: 5px;
}
button:hover {
    background-color: #0056b3;
}
