body {
    font-family: 'Roboto', sans-serif; /* Menggunakan font yang lebih modern */
    margin: 0;
    padding: 0;
}

header {
    background: radial-gradient(circle, #8e00bd 0%, #2d003b 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin: 0;
    font-size: 36px; /* Memperbesar ukuran font untuk judul */
    font-weight: 700; /* Menambahkan ketebalan font untuk judul */
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #007bff;
    outline: none;
}

.filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-btn:hover {
    background-color: #1d456f;
    transform: translateY(-2px);
}


.exitButton {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-right: 10000px;
}

.cart-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    flex: 1;
    margin: 0 10px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 20px 0;
    font-size: 28px; 
    text-align: center;
    color: #333; 
}


.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    width: calc(33.33% - 20px);
    margin: 20px 10px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.add-to-cart-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: bottom 0.3s, opacity 0.3s;
}

.menu-item:hover .add-to-cart-btn {
    bottom: 0;
    opacity: 1;
}

.menu-item:hover img {
    transform: scale(1.2); 
}

.menu-item:hover {
    border: 4px solid #007bff; 
}


.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}


.item-details {
    padding: 10px;
    text-align: center;
}

.item-details h3 {
    margin: 10px 0;
    font-size: 18px;
}

.item-details p {
    margin: 5px 0;
}

.add-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #0056b3;
}

.cart-dropdown {
    display: none;
    position: fixed;
    top: 70px; 
    right: 20px; 
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

#cart-dropdown h2 {
    margin-top: 0;
}

#cart-items {
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

#cart-items li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#cart-items li:last-child {
    border-bottom: none;
}

#cart-total {
    font-weight: bold;
}


.cart-icon img {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px; 
    right: 50px; 
    z-index: 999;
    cursor: pointer;
    color:whitesmoke;
}